html {
    font-family: sans-serif;
    background: skyblue;
    padding: 1rem;
}

body {
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem 0;
    text-align: center;
    font-size: 35px;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem 0;
    text-align: center;
    font-size: 30px;
}

a {
    color: rgb(67, 130, 246);
    text-decoration: none;
    font-size: 20px;
}

message{
    color: Green;
    font-size: 25px;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: skyblue;
    padding: 0 0.5rem;
    border-radius: 25px;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    white-space: pre;
  }  

nav ul li a {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
    background: white;
    border-radius: 25px;
}

.flash {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background: #abdcf9;
    border: 1px solid #377ba8;
}
