<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - Message Board Website</title>
<nav>
  <h1>A Simple Message Bank</h1>
  <!-- <b>Navigation:</b> -->
  <ul>
    <li><a href="/hello">Main</a></li>
    <li><a href="/view">View Message</a></li>
    <li><a href="/submit">Submit Message</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
