{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Submit Forums{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method = "post">
    <label for="handle">What would you like us to call you?</label>
    <br>
    <input type="text" name="handle" id="handle">
    <br>
    <label for="message">What's your message to the world?</label>
    <br>
    <input type="text" name="message" id="message">
    <br>
    <input type="submit" value="Submit message">
  </form>
  {% if thanks %}
     <br> 
     Thanks for the input, {{handle}}! 
  {% endif %}

  {% if error %}
     <br> 
     Please resubmit!
  {% endif %}
{% endblock %}